/*  */
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  src: url("../fonts/Graphik-Medium.woff") format('woff'), url("../fonts/Graphik-Medium.ttf") format('truetype');
}

body {
  font-family: 'Graphik';
}

a {
  cursor: pointer;
}

/* Product Item */
.product-item-container {
  font-family: 'Graphik';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding: 0 85px;
  background: #f8f8f8;
  height: 100vh;
  line-height: 28px;
}

.product-description-container {
  margin: auto;

  .product-description {
    p:first-child {
      text-transform: uppercase;
    }
  }
}

.product-details-container {

  .product-details {
    div {
      margin-bottom: 20px;
    }
  }
}
/* Product Images */
.product-images-container {
  display: grid;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  .product-images {
    div {
      height: 100vh;

      img {
        margin: auto;
      }
    }
  }
}

.product-price {
  margin: auto;
}
/* Select product color */
.product-color {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  border: 1px solid #000;
  flex-direction: row;

  div {
    flex-grow: 1;
    margin-bottom: 0 !important;
  }

  span {
    padding-left: 15px;
  }

  label {
    display: block;
    padding-left: 15px;
    margin: 0;

    &.black {
      color: #fff;
      background: #000;
    }

    &.black input[type='radio']:checked::before {
      color: #fff;
    }

    &.beige {
      color: #000;
      background: #f0dfcf;
    }

    &.beige input[type='radio']:checked::before {
      color: #000;
    }
    /* custom radio button */
    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      top: 0;
      height: 20px;
      border: 0;
      cursor: pointer;
      margin-right: 7px;
      outline: none;

      &:checked::before {
        position: absolute;
        left: 11px;
        top: 1px;
        content: '\02143';
        transform: rotate(40deg);
      }
    }
  }
}
/* dropdown style product size */
.product-size {
  .dropdown {
    button {
      display: inline-block;
      width: 100%;
      border: 1px solid #000;
      background: #fff;
      color: #000;
      border-radius: 0;
      font-size: 14px;
      text-align: left;

      &.dropdown-toggle {
        background: #000;
        color: #fff;

        &:after {
          border: none;
        }

        i {
          float: right;
          margin-top: 3px;
        }
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: 1px solid #000;
    margin-top: 0;
    padding: 0;
    top: -1px;

    a {
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }
}

.product-quantity {
  display: flex;
  flex-direction: row;

  a,
  span {
    display: inline-block;
    border: 1px solid #000;
    padding: 0 15px;
    color: #000;
  }

  span {
    text-align: center;
    flex-grow: 2;
    border-left: none;
    border-right: none;
  }

  a {
    background: transparent;

    &:hover {
      text-decoration: none;
      background: #000;
      color: #fff;
    }
  }
}

.product-size {
  a {
    color: #000;
    text-decoration: underline;
    font-size: 12px;
  }
}

.product-add-to-cart {
  button {
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    border: 1px solid #000;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  a {
    color: #000;
  }
}
/* Product Page */
.product-page-related {
  padding: 5%;
  align-items: center;
  font-family: 'Graphik';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;

  .row {
    align-items: center;
    text-align: center;
    margin-bottom: 5%;

    a {
      display: block;
      text-decoration: underline;
      color: #000;
      margin-top: 20px;
    }

    span {
      font-size: 12px;
    }
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) {
  .product-images {
    div {
      display: flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
    }
  }
}
  /* Small devices (landscape phones, 576px and up) */
  @media (max-width: 576px) {
    .product-item-container {
      padding: 0;
      height: auto;
      .col-sm{
        margin: 0 20px 25px;
      }
    }
    /* description */
    .product-details-container {
      margin-bottom: 50px;
    .product-description {
      order: 1;
      -webkit-order: 1;
    }
  }
    /* images */
    .product-images-container {
      order: -1;
      -webkit-order: -1;
      /* carousel */
      div.carousel-item{
        height: 75vh;
      }
      .carousel-indicators{
        li{
          border-radius: 50%;
          height: 8px;
          width: 8px;
          max-width: 8px;
          margin: 0 10px;
          background: #9e9e9e;
          &.active{
            background: #000;
          }
        }
      }
    }
    /* details */
    .product-details {
      order: 2;
      -webkit-order: 2;
    }
    .product-add-to-cart {
      a{
        display: block;
        text-align: center;
        margin-top: 20px;
        text-decoration: underline;
      }
    }
    /* Page bottom items releated */
    .product-page-related{
      .row{
        margin-bottom: 0px;

        .col-sm{
          margin-bottom: 20px;
        }
      }
    }
  }
