/*  */
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  src: url("../fonts/Graphik-Medium.woff") format("woff"), url("../fonts/Graphik-Medium.ttf") format("truetype"); }

body {
  font-family: 'Graphik'; }

a {
  cursor: pointer; }

/* Product Item */
.product-item-container {
  font-family: 'Graphik';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  padding: 0 85px;
  background: #f8f8f8;
  height: 100vh;
  line-height: 28px; }

.product-description-col {
  margin: auto; }
  .product-description-col .product-description p:first-child {
    text-transform: uppercase; }

.product-details-col {
  margin: auto; }
  .product-details-col .product-details div {
    margin-bottom: 20px; }

.product-images {
  display: grid;
  justify-content: center;
  position: sticky;
  overflow-x: hidden;
  overflow-y: auto; }
  .product-images div {
    display: flex;
    height: 100vh; }
    .product-images div img {
      margin: auto; }

.product-price {
  margin: auto; }

.product-color {
  display: flex;
  border: 1px solid #000;
  flex-direction: row; }
  .product-color div {
    flex-grow: 1;
    margin-bottom: 0px !important; }
  .product-color span {
    padding-left: 15px; }
  .product-color label {
    display: block;
    padding-left: 15px;
    margin: 0; }
    .product-color label.black {
      color: #fff;
      background: #000; }
    .product-color label.black input[type='radio']:checked::before {
      color: #fff; }
    .product-color label.beige {
      color: #000;
      background: #f0dfcf; }
    .product-color label.beige input[type='radio']:checked::before {
      color: #000; }
    .product-color label input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      top: 0px;
      height: 20px;
      border: 0;
      cursor: pointer;
      margin-right: 7px;
      outline: none; }
      .product-color label input[type='radio']:checked::before {
        position: absolute;
        left: 11px;
        top: 1px;
        content: '\02143';
        transform: rotate(40deg); }

.product-size .dropdown button {
  display: inline-block;
  width: 100%;
  border: 1px solid #000;
  background: #fff;
  color: #000;
  border-radius: 0;
  font-size: 14px;
  text-align: left; }
  .product-size .dropdown button.dropdown-toggle {
    background: #000;
    color: #fff; }
    .product-size .dropdown button.dropdown-toggle:after {
      border: none; }
    .product-size .dropdown button.dropdown-toggle i {
      float: right;
      margin-top: 3px; }

.product-size .dropdown-menu {
  width: 100%;
  border-radius: 0;
  border: 1px solid #000;
  margin-top: 0;
  padding: 0;
  top: -1px; }
  .product-size .dropdown-menu a {
    text-transform: uppercase;
    text-decoration: none; }
    .product-size .dropdown-menu a:hover {
      color: #fff;
      background: #000; }

.product-quantity {
  display: flex;
  flex-direction: row; }
  .product-quantity a,
  .product-quantity span {
    display: inline-block;
    border: 1px solid #000;
    padding: 0 15px;
    color: #000; }
  .product-quantity span {
    text-align: center;
    flex-grow: 2;
    border-left: none;
    border-right: none; }
  .product-quantity a {
    background: transparent; }
    .product-quantity a:hover {
      text-decoration: none;
      background: #000;
      color: #fff; }

.product-size a {
  color: #000;
  text-decoration: underline;
  font-size: 12px; }

.product-add-to-cart button {
  width: 100%;
  background: #000;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  font-family: 'Graphik';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  cursor: pointer; }
  .product-add-to-cart button:hover {
    background: #fff;
    color: #000; }

.product-add-to-cart a {
  color: #000; }

/* Product Page */
.product-page-related {
  padding: 5%;
  align-items: center;
  font-family: 'Graphik';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px; }
  .product-page-related .row {
    align-items: center;
    margin-bottom: 5%; }
    .product-page-related .row a {
      display: block;
      text-transform: capitalize;
      text-decoration: underline;
      color: #000;
      margin-top: 20px; }
    .product-page-related .row span {
      font-size: 12px; }
